html.optional-rem {
  font-size: 100%;
}

.wrapper {
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

button {
  cursor: pointer;
}

input:focus,
button:focus {
  box-shadow: 0 0 0.1rem 0.1rem #8aa1ff;
}

.controls {
  margin: 0 auto;
  display: flex;
  /* max-width: 50rem; */
  width: 100%;
  border: 1px solid #777;
}

.controls__input,
.controls__submit-btn {
  padding: 1rem;
}

.controls__input {
  width: 100%;
  background-color: #d6deff;
}

.controls__input:focus {
  background-color: #E5EAFF;
}

.controls__submit-btn {
  background-color: #99adff;
}

.controls__submit-btn:hover {
  background-color: #A8B9FF;
}

.controls__submit-btn:active {
  background-color: #8099FF;
}

.controls__submit-btn:focus {
  box-shadow: none;
}

.todos {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo {
  padding: 1rem;
  background-color: #d4d4d4;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  border: 1px solid #777;
}

.todo p {
  word-wrap: break-word;
}

.todo__close-btn {
  background-color: #e8e8e8;
  height: 3rem;
}

@media (max-width: 480px) {
  .controls {
    flex-direction: column;
  }
}
