html {
  font-size: 100%;
}

.wrapper {
  max-width: 100rem;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

input:focus,
button:focus {
  outline: 0.1rem #8aa1ff solid;
}

.controls {
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  max-width: 50rem;
  width: 100%;
}

.controls__input {
  width: 100%;
}

.controls__input,
.controls__submit-btn {
  padding: 1rem;
  background-color: #f0f3ff;
}

.todos {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo {
  padding: 1rem;
  background-color: #d4d4d4;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.todo p {
  word-wrap: break-word;
  /*width: 90%;*/
}

.todo__close-btn {
  background-color: #e8e8e8;
  height: 3rem;
  cursor: pointer;
}
